---
import { LiaDotCircle } from "react-icons/lia";
import ProjectSection from "./ProjectSection.astro";
---


<div class="text-white mt-[15%] mb-[30%] mx-[10%] relative">
    <div class="flex items-center text-[2.7vw] mb-[7%]">
        <LiaDotCircle className=" mr-[1vw] pt-[0.5%]"/>
        <p>
            Annual Projects
        </p>
    </div>

    <p class="text-[1.2vw] mt-[5%] mb-[3%] ml-[25%] font-light">
        Erat hendrerit tristique erat; parturient cursus fringilla feugiat.
         Eget faucibus fames ridiculus nec egestas convallis cubilia malesuada.
          Tellus nibh vivamus tempus molestie tristique quis
    </p>

    <div class="flex items-center text-[1.2vw] font-light mb-[7%] justify-between ml-[20%]">
        <LiaDotCircle className="text-[2vw] pt-[0.5%]"/>
        <p class="text-[2vw]">
            ridiculus nec egestas
        </p>
        <p class="w-3/5">
            Erat hendrerit tristique erat; parturient cursus fringilla feugiat.
            Eget faucibus fames ridiculus nec egestas convallis cubilia malesuada.
             Tellus nibh vivamus tempus molestie tristique quis
        </p>
    </div>

    <ProjectSection />
    
</div>