---
const {title} = Astro.props;
import { LiaDotCircle } from "react-icons/lia";
---

<div class="flex items-center text-[3vw] ml-[10%] pt-[10%] text-white font-semibold">
    <LiaDotCircle className=" mr-[1vw] text-[2.7vw]"/>
    <p>
        {title}
    </p>
</div>