---
const {title} = Astro.props;
import { LiaDotCircle } from "react-icons/lia";
---

<div class="flex items-center md:text-[3vw] text-[4.5vw] ml-[10%] md:pt-[10%] pt-[15%] text-white font-semibold">
    <LiaDotCircle className=" mr-[1vw] text-[2.7vw]"/>
    <p>
        {title}
    </p>
</div>