---
import Title from "../core/Title.astro";
import { Image } from "astro:assets";
import model from "../../images/robot.png";
---

<div
    class="flex items-center md:h-[35vw] h-[45vw] relative w-full pl-[10%] md:mt-[3%] mt-[10%] mb-[10%]"
>
    <Title title="RoboCup" />
    <Image
        data-inview
        src={model}
        alt="Robocup robot model"
        class="in-view:animate-fade-down absolute md:w-[40%] w-[50%] md:right-[15%] right-0 md:top-0"
    />
</div>
