---
import { Image } from "astro:assets";
import eventbg from "../../images/eventbg.webp";
import { LiaDotCircle } from "react-icons/lia";
---

<div class="w-full pt-[25vh] flex justify-center relative">
    <Image
        src={eventbg}
        alt="Event Page Background"
        class="w-[45%] rounded-[2vw] aspect-[2/1] object-cover"
    />
    <div
        class="absolute -bottom-[6%] left-[20%] flex items-center text-[3vw] py-[1.5%] px-[3%] text-white bg-ieee-black rounded-[2vw]"
    >
        <LiaDotCircle className=" mr-[2vw] pt-[0.5%]" />
        <p>EVENTS</p>
    </div>
</div>
