---
import UpcomingEvent from "./UpcomingEvent.astro";
import { LiaDotCircle } from "react-icons/lia";
import EventList from "./EventList.jsx";
const CALENDAR_API_KEY = import.meta.env.CALENDAR_API_KEY;
---

<div class="flex ml-[15%] my-[10%]">
    <div class="w-1/4 text-white pr-[5%] mr-[10%]">
        <div class="w-[6vw] h-[0.3vw] bg-ieee-yellow rounded-full"></div>
        <div class="flex items-center text-[2vw] font-bold my-[10%]">
            <LiaDotCircle className=" mr-[1vw] text-[2.5vw]" />
            <p>
                Upcoming <br /> Events
            </p>
        </div>
        <p class="text-[1.3vw] font-light">
            SCROLL DOWN TO SEE THE UPCOMING EVENTS FOR IEEE!
        </p>
    </div>
    <div>
        <EventList client:load CALENDAR_API_KEY={CALENDAR_API_KEY} />
    </div>
</div>
