---
import Layout from '../../layouts/Layout.astro';
import MigrationContent from '../../components/dashboard/pages/MigrationContent';
---

<Layout title="Data Migration - IEEE UCSD Dashboard">
    <div id="migration-root"></div>
</Layout>

<script>
    import { createElement } from 'react';
    import { createRoot } from 'react-dom/client';
    import MigrationContent from '../../components/dashboard/pages/MigrationContent';
    import DashboardLayout from '../../components/dashboard/DashboardLayout';

    const container = document.getElementById('migration-root');
    if (container) {
        const root = createRoot(container);
        root.render(createElement(DashboardLayout, { 
            currentPath: '/dashboard/migration',
            children: createElement(MigrationContent)
        }));
    }
</script> 