---
import { FaGear } from "react-icons/fa6";
import { MdEmail } from "react-icons/md";
import Link from "next/link";
---
<div class = "text-white my-[5vw]">

    <div class = "text-ieee-yellow">
        <Link href="s1hung@ucsd.edu" className = "flex items-center ml-[3%] py-[0.5vh]">
            <MdEmail className = "text-[1.5vw] mr-[0.5%]"/>
            <p class = "text-[0.8vw]">
                s1hung@ucsd.edu
            </p>
        </Link>
    </div>

    <div class = "w-[20vw] aspect-[334/440] bg-gradient-to-t from-ieee-blue-100/5 to-ieee-blue-100/25 rounded-[10%] flex flex-col items-center">
        <img src = "/officers/shing.jpg" alt = "big face shing" class = "w-[18vw] rounded-[10%] pt-[5%] pb-[3%] relative" >
        <div class = "bg-white w-fit rounded-full aspect-square p-[0.4vw] text-ieee-black text-[1.8vw] absolute ml-[13.5vw] mt-[3vh]">
            <FaGear/>
        </div>
        <div class = "w-full flex justify-between px-[7%]">
            <p class = "text-[2vw] font-light leading-[4.5vh] mt-[1.5vh]">
                Shing Hung
            </p>
            <div class = "text-[0.8vw] w-[8vw] h-[3.2vh] border-[0.11vw] border-white/90 rounded-full flex items-center justify-center">
                Webmaster
            </div>
        </div>
    </div>
    
</div>