<div class="flex py-[15vh] px-[7vw] items-end w-full">
    <div class="w-3/5">
        <p data-inview class="text-ieee-yellow text-[4.5vw] font-semibold in-view:animate-fade-right">
            02
        </p>
        <p data-inview class="text-white text-[2.5vw] font-light in-view:animate-fade-right animate-delay-100">
            Amet Consectetur
        </p>

    </div>
    <p data-inview class="text-white text-[1.5vw] in-view:animate-fade-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
    </p>
</div >
