<div class="flex py-[15vh] px-[7vw] items-end w-full">
    <div class="w-3/5">
        <p class="text-ieee-yellow text-[4.5vw] font-semibold">
            02
        </p>
        <p class="text-white text-[2.5vw] font-light">
            Amet Consectetur
        </p>

    </div>
    <p class="text-white text-[1.5vw]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
    </p>
</div>
