---
// You can add props here if needed
---

<div class="w-[100%] mx-auto py-8">
    <div class="grid lg:grid-cols-2 gap-2 h-[40rem]">
        <div
            class="bg-card_bg rounded-[3rem] relative overflow-hidden text-center lg:text-left lg:px-12"
        >
            <div
                class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-white/10 to-transparent"
            >
            </div>
            <div
                class="px-6 pt-24 lg:pt-32 relative z-10 text-ieee_gold_text font-bold text-[1.5rem]"
            >
                UC San Diego IEEE
            </div>
            <div
                class="px-6 pt-2 relative z-10 text-card_text font-bold text-[2.5rem]"
            >
                Join the 2nd largest IEEE student branch in the US!
            </div>
            <div class="px-6 pt-2 relative z-10 text-card_text text-[1.2rem]">
                Sint occaecat laboris do cupidatat cillum laborum sint et sint
                velit fugiat. Velit do et irure laboris cillum adipisicing.
                Nulla dolor esse ea do laboris aliquip ullamco.
            </div>
        </div>

        <div class="bg-card_bg rounded-[3rem]">
            <div class="p-6">2</div>
        </div>
    </div>
</div>
