---
import Layout from "../layouts/Layout.astro";
import EventTitle from "../components/events/EventTitle.astro";
import { Image } from "astro:assets";
import eventborder from "../images/eventborder.webp";
import calendar from "../images/calendar2.webp";
import UpcomingEvents from "../components/events/UpcomingEvents.astro";
import Calendar from "../components/events/Calendar.jsx";

const CALENDAR_API_KEY = import.meta.env.CALENDAR_API_KEY;
const EVENT_CALENDAR_ID = import.meta.env.EVENT_CALENDAR_ID;
---

<Layout>
    <Image
        src={eventborder}
        alt="JOIN US"
        class="absolute left-[1vw] w-[4vw] top-[60vh]"
    />
    <Image
        src={eventborder}
        alt="JOIN US"
        class="absolute right-[1vw] w-[4vw] top-[60vh]"
    />
    <EventTitle />
    <UpcomingEvents />
    <div class="flex justify-center pb-[10%]">
        <Calendar
            client:load
            CALENDAR_API_KEY={CALENDAR_API_KEY}
            EVENT_CALENDAR_ID={EVENT_CALENDAR_ID}
        />
    </div>
</Layout>
