---
import Layout from "../layouts/Layout.astro";
import Social from "../components/core/Social.astro";
import Findus from "../components/join/Findus.astro";
import FindTitle from "../components/find/FindTitle.astro";
import { Image } from "astro:assets";
import event from "/event.jpg";
---

<Layout>
    <FindTitle />
    <div class="w-full flex justify-center">
        <Image
            src={event}
            alt="board group photos"
            class="w-3/4 rounded-full"
        />
    </div>
    <Findus />
    <Social />
</Layout>
