---
import Layout from "../layouts/Layout.astro";
import UserProfile from "../components/auth/UserProfile.astro";
import DefaultStoreView from "../components/store/DefaultStoreView.astro";
import OfficerStoreView from "../components/store/OfficerStoreView.astro";
const title = "IEEE Store";
---

<Layout {title}>
    <main class="mx-auto pb-12 md:pt-[5vh] pt-[5vw] min-h-screen">
        <h1 class="text-4xl font-bold mb-12">IEEE UCSD Store</h1>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
            <!-- Left Column - User Info -->
            <div class="lg:col-span-2 2xl:col-span-1 h-fit">
                <UserProfile />
            </div>

            <!-- Right Column - Store Items -->
            <div id="storeContent" class="lg:col-span-2 2xl:col-span-3">
                <DefaultStoreView />
                <OfficerStoreView />
            </div>
        </div>
    </main>
</Layout>

<script>
    import { StoreAuth } from "../components/auth/StoreAuth";
    new StoreAuth();
</script>
