---
import OfficerManagementComponent from "./OfficerManagement/OfficerManagement";
---

<section>
    <h2 class="text-2xl font-bold mb-6">Officer Management</h2>

    <div class="bg-gray-800 shadow-md rounded-lg p-6">
        <OfficerManagementComponent client:load />
    </div>
</section>
