---
import OH from "./OH.astro"
---

<div class="w-full flex justify-evenly px-[10%]">
    <OH title="Check out our calendar!" subtitle="Each officer has their own OAH" image="/calendar.png" />
    <OH title="Check out our location!" subtitle="We are located in EBU1-4710" image="/map.png" />
</div>